.circle-outer{
    border-radius: 50%;
    /* width: 50vw; */
    width: 45vw;
    height: 70vh;
    background-color: red;
    /* transform: translate(25vw,20vh); */
    transform: translate(28vw,10vh);

}

.circle-middle{
    border-radius: 50%;
    width: 30vw;
    height: 50vh;
    background-color: yellow;
    /* transform: translate(10vw,0vh); */
    transform: translate(36vw,-50vh);

}

.circle-inner{
    border-radius:50%;
    width: 15vw;
    height: 25vh;
    background-color: green;
    /* transform: translate(7vw,0vh); */
    transform: translate(44vw,-88vh);


}
