<div >
    <h1 class="main-div" id="child">Inside Child Componnet</h1>
    <div class="main-div">
        <table class = "mystyle mytable">
            <tr class = "mystyle " >
                <th class = "mystyle">ID</th>
                <th class = "mystyle">UserID</th>
                <th class = "mystyle">Title</th>
                <th class = "mystyle">Body</th>
            </tr>
            <tr *ngFor="let item of data">
                <td class = "mystyle">{{item.id}}</td>
                <td class = "mystyle">{{item.userId}}</td>
                <td class = "mystyle">{{item.title}}</td>
                <td class = "mystyle">{{item.body}}</td>
            </tr>
        </table>
    </div>

</div>
